/*Specific CSS for the Attractions Page 
*
Author: Henry Patrick Karugendo 
Created: 14/07/23 
Last Updated: 17/07/23 
*
*/

#attract-heading-div {
    background-image: url('../images/layout/attract-bg-sm.jpg');
    background-size: cover;
    background-position: bottom;
}