/*Specific CSS for the Introduction Page 
* 
Author: Henry Patrick Karugendo 
Created: 14/07/23 
Last Updated: 18/07/23 
*
*/

body {
    background: white;
    color: black;
}

#intro-heading-div {
    background-image: url('../images/layout/intro.jpg');
    background-size: cover;
    background-position: center;
}

#text-section {}

.gallery-section-div {
    height: 300px;
    background-color: azure;
}

@media (max-width: 600px) {
    #intro-heading-div {
        background: none;
        height: 100px;
        position: unset;
    }
}