/*Specific CSS for the Introduction Page 
* 
Author: Henry Patrick Karugendo 
Created: 14/07/23 
Last Updated: 17/07/23 
*
*/

body {
    background: white;
    color: black;
}

.intro-section-div {
    background-image: url('../images/layout/intro-bg.jpg');
    background-size: cover;
    background-position: left;
    min-height: 900px;
}

#text-section {

}

.gallery-section-div {
    height: 300px;
    background-color: azure;
}

