/* Global CSS Styles
* 
Author: Henry Patrick Karugendo 
Created: 13/07/23 
Last Updated: 16/07/23 
* 
*/
* {
    /* This code has been taken from Stackoverflow to help eliminate the problematic top space in the HTML box 
        Link: https: //www.quora.com/How-do-I-remove-the-space-at-the-top-of-a-webpage-with-CSS/answer/Rohit-Kumar-Shrivastava-5
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Klee One', Verdana, cursive;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

section,
article {
    padding: 20px;
}

/* HEADER CSS begins here */

.header {
    /*background-color: #21d576;*/
    background: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    color: white;
    position: relative;
}

.header-text-div {
    padding: 5px;
    text-align: center;
    position: relative;
}

.header-h1-div {
    display: inline-block;
    position: absolute;
    left: 0;
    max-width: 400px;
}

.header-p-div {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50;
    bottom: -150px;
    max-width: 400px;
}

.header-h1-div>h1 {
    text-transform: uppercase;
    font-size: 70px;
    padding-left: 50px;
}

.header-p-div>p {
    font-size: 30px;
    padding-right: 50px;
}

.nav-div {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #005522;
}

.nav > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}

.nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.nav > ul > li > a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.nav > ul > li >a.active {
    color: #fe8b24;
    border-bottom: 1px solid #fe8b24;
}

.nav > ul > li > a:visited {
    font-weight: normal;
}

/* HEADER CSS ends here */

/* FOOTER CSS begins Here */

.footer {
    /*background-color: #fe8b24;*/
    background: url('../images/footer-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-container-top {
    height: 80%;
    position: relative;
}

.footer-container-bottom {
    padding-top: 20px;
    text-align: center;
}

.add-line {
    font-style: italic;
    display: block;
}

.footer-location {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.location-add-div {
    width: 30%;
    position: relative;
}

.location-map-div {
    width: 50%;
    position: absolute;
    right: 0;
}

.g-map {
    width: 100%;
    height: 100%;
    border: 0;
}

.add-phone {
    position: absolute;
    bottom: 0;
}

.p-copy-text {
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Footer CSS ends here */

/*Smaller Devices Styling */
@media (max-width: 1400px) {

    .header {
            /*background-color: #21d576;*/
            background: url('../images/header-bg-sm.jpg');
            background-size: cover;
            width: 100%;
            height: 300px;
            color: white;
            position: relative;
        }

        .header-p-div {
            width: 200px;
        }
    
        .header-h1-div>h1 {
            font-size: 20px;
        }
    
        .header-p-div>p {
            font-size: 10px;
        }

        .nav-div {
            height: 100px;
        }

    .footer {
            /*background-color: #fe8b24;*/
            background: url('../images/footer-bg-sm.jpg');
            background-size: cover;
            width: 100%;
            height: 150px;
            color: white;
            padding: 5px;
            font-size: 0.6rem;
            font-weight: bold;
        }

        .footer-container-bottom {
            padding-top: 5px;
            text-align: center;
        }
}