/* Global Styles */
html {
    font-family: 'Klee One', Verdana, cursive;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

/* Welcome Page Styles */
body {
    background: url('../images/bg_big.jpg');
    background-size: cover;
}

#welcome-main {
    color: white;
    text-align: center;
    max-height: 100%;
}

#welcome-sub {
    position: relative;
    width: 80%;
    height: 40vh;
    background: rgba(0, 0, 0, .5);
    margin: 20vh auto -20vh;
    padding: 2rem;
}

#welcome-content {
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    padding: 50px;
    position: 200px auto 0;
}

#welcome-h1 {
    font-size: 3rem;
}

#welcome-p {
    font-size: 2rem;
}

#welcome-b {
    background: rgba(0, 0, 0, .5);
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    padding: 5px 10px;
}