/*Specific CSS for the Transportation Page 
*
Author: Henry Patrick Karugendo 
Created: 14/07/23 
Last Updated: 17/07/23 
*
*/

#trans-heading-div {
    background-image: url('../images/layout/trans-bg-sm.jpg');
    background-size: cover;
    background-position: bottom;
}