/*Specific CSS for the Welcome Page 
* 
Author: Henry Patrick Karugendo 
Created: 12/07/23 
Last Updated: 14/07/23 
*
*/
body {
    height: 100%;
    width: 100%;
    background: url('../images/layout/welcome-bg.jpg');
    background-size: cover;
    margin-top: 0;
}

#welcome-main {
    color: white;
    text-align: center;
}

#welcome-sub {
    position: relative;
    width: 80%;
    height: 40vh;
    margin: 20vh auto -20vh;
}

#welcome-heading {
    position: absolute;
    display: inline-block;
    background: rgba(0, 0, 0, .8);
    top: 200px;
    left: 15%;
    width: 70%;
    height: 300px;
}

#welcome-content {
    display: inline-block;
    padding: 50px;
    position: absolute;
    width: 20%;
    top: 450px;
    left: 40%;
}

#welcome-h1 {
    font-size: 70px;
    margin-top: 50px;
}

#welcome-p {
    font-size: 40px;
}

#welcome-b {
    background: black;
    border: 1px white solid;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    padding: 5px 20px 10px;
    text-decoration: none;
}